.output {
  position: relative;
  grid-column: span 4;
  background: #111111;

  .output-text {
    position: absolute;
    right: 0;
    height: 100%;
    display: grid;
    align-content: end;
    padding: 0 5%;
    box-sizing: border-box;
    transform-origin: right;
    white-space: nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17em;
    font-weight: lighter;
  }
}