input {
  border: 1px solid #808080;
  outline: none;
  @include font(7em, 200);

  &.Digit, &.Dot {
    background: #E0E0E0;
    @include font(6em, 200);
  }
  &.span-2 {
    padding-right: 23px;
  }

  &.Binary, &.Equal {
    background: #F5923E;
    color: white;
  }

  &.Unary, &.Reset {
    background: #D6D6D6;
    @include font(5em, 200);
  }

}