input {
  flex: 1;
  min-width: 25%;
  border: 1px solid #808080;
  outline: none;
  @include font(5em, 200);

  &.Digit, &.Dot {
    background: #E0E0E0;
  }
  &.span-2 {
    flex-grow: 2;
    padding-right: 23px;
  }

  &.Binary, &.Equal {
    background: #F5923E;
    color: white;
  }

  &.Unary, &.Reset {
    background: #D6D6D6;
    font-size: 4em;
  }
}